In [1]:
import pandas as pd

In [ ]:
# Задача 1

In [4]:
data = pd.read_csv('C:\\Users\\Professional\\Desktop\\ratings.csv').head()
data

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [5]:
def films_3 (row):
    if row.rating <= 4 and row.rating > 2:
        return 'Средний рейтинг'
    if row.rating <= 2:
        return 'Низкий рейтинг'
    if row.rating > 4:
        return 'Высокий рейтинг'
data['class'] = data.apply(films_3, axis = 1)
data.head()

   userId  movieId  rating   timestamp            class
0       1      307     3.5  1256677221  Средний рейтинг
1       1      481     3.5  1256677456  Средний рейтинг
2       1     1091     1.5  1256677471   Низкий рейтинг
3       1     1257     4.5  1256677460  Высокий рейтинг
4       1     1449     4.5  1256677264  Высокий рейтинг

In [28]:
# Задача 2
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
cities = pd.read_csv('C:\\Users\\Professional\\Desktop\\keywords.csv')
def regions(keyword):
    for k, v in geo_data.items():
        for i in v:
            if i in keyword:
                return k
        return  'undefined'
cities['region'] = cities['keyword'].apply(regions)
cities.head(20)

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
5   одноклассники моя страница  19976138  undefined
6                         майл  15144673  undefined
7                        авито  14786593  undefined
8                   переводчик  14453469  undefined
9                       яндекс  13344734  undefined
10             сбербанк онлайн  10725673  undefined
11                        mail   7687204  undefined
12                        игры   6075762  undefined
13                     youtube   5729958  undefined
14      вконтакте моя страница   5971451  undefined
15                        секс   5431732  undefined
16                        гугл   5175471  undefined
17                          dr   4880955  undefined
18                 алиэкспресс   4879645  undefined
19                     рамблер   4540421  undefined